.hero {
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;

    box-shadow: 0 2px 2px darken(getColorValue(bg), 5);

    @include breakpoint-below(md){
        height: 100dvh;
        width: 100vw;
    }
    
    .heading {
        display: inherit;
        flex-direction: inherit;
        justify-content: center;
        align-items: center;

        .title {
            font-size: 5em;
            margin-bottom: 0;
        }

        .tagline {
            font-size: 1.5em;
            margin-top: 0;
        }
    }

    .hero-img{
        max-width: 60vw;
        align-self: center;
        padding: 1.5em;
        margin: 25px 0;
    }

    .btn{
        align-self: center;
        position: relative;
    }
}