// @import './util/mixins';

$quaterSecondAnim: all 0.25s ease;

.work-card{
    position: relative;
    padding: 0 !important;
    bottom: 0px;

    transition: $quaterSecondAnim;

    &:hover{
        bottom: 50px;
    }
        
    .work-img{
        &:hover + .work-card-info {
            height: 100%;
            top: 0;
            opacity: 1;
        }
        
        img{
            display: block;
            width: 100%;
            @include round-corners-reg();
        }
    }
    .work-card-info{
        transition: $quaterSecondAnim;
        pointer-events: none;
        
        h2,p{margin: 0;}

        position: absolute;
        top: 100%;

        background-color: rgba(getColor(c-blue), 0.25);
        opacity: 0;
        height: 0%;

        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        justify-content: center;
        align-items: center;     
        @include round-corners-reg();
    }
}