:root {
    color-scheme: dark;  
  
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color: getColor(text);
    background-color: getColor(bg);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  body{
    margin: 0;
  }
  .container{padding: 0 15px;}
  section{padding: 5em 0;}
  
  .flex{display: flex;}
  .justify-between{justify-content: space-between;}
  .justify-center{justify-content: center;}
  
  .img-square{
    aspect-ratio: 4/3;
  }
  
  .btn{
    display: inherit;
    width: fit-content;
    text-align: center;
    padding: 1.2em 5em;
    background-color: getColor(bg);
    border: solid 2px getColor(text);;
    border-radius: 10px;
    color: getColor(text);
  
    transition: all 0.2s ease;
  
    &:hover{
      cursor: pointer;
      color: getColor(bg);
      background-color: getColor(text);;
    }
  }
  
  .card{
    @include round-corners-reg();
    width: fit-content;
    padding: 20px;
    box-shadow: 0px 0px 10px getColor(c-blue);
  }